<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toxxic.trainingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".provider.FeedProvider"
            android:authorities="com.toxxic.trainingapp.feed.provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.TrainingContentProvider"
            android:authorities="com.toxxic.trainingapp.provider"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".sync.SyncService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CourseDetailsActivity"
            android:label="@string/title_activity_course_details"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.toxxic.trainingapp.intent.action.COURSE_DETAILS" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".LessonDetailsActivity">
            <intent-filter>
                <action android:name="com.toxxic.trainingapp.intent.action.LESSON_DETAILS" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="com.toxxic.trainingapp.intent.action.VIDEO_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="com.toxxic.trainingapp.intent.action.VIDEO_PLAYER_FULL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".CourseCatalogActivity">
            <intent-filter>
                <action android:name="com.toxxic.trainingapp.intent.action.COURSE_CATALOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <action android:name="com.toxxic.trainingapp.intent.action.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>
    </application>

</manifest>